.zin {
  &-featured {
    display: flex;
    border: thin solid white;
    height: 50vh;
    position: relative;
    width: 50vw;
    overflow: hidden;

    &--artist {
      // background: red;
      height: 100%;
      width: 50%;
    }
  }

  &-artist {
    height: 100vh;
    // margin-top: 150px;
    position: relative;
    width: 100vw;

    &--featured {
      display: flex;
      height: 100%;
      flex-direction: column-reverse;
      width: 100vw;

      @media (min-width: 1440px) {
        flex-direction: row;
      }

      #player {
        opacity: 0;

        &[data-active] {
          transition: all .25s ease-out 3s;
          left: 0;
          opacity: 1;
          position: absolute;
          top: 0;
          z-index: 99;
        }
      }

      .zin-artist--featured_artist {
        color: white;
        left: 25px;
        opacity: 1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all .55s ease-out .25s;
        width: 50%;

        &.-label,
        &.-artist {
          // border: thin solid red;
          margin: 0;
          padding: 0;
          position: relative;
          text-transform: uppercase;
          transform: unset;
          width: 100%;
        }
        
        &.-label {
          @include FuturaPTHeavy;
          font-size: 1rem;
          line-height: 1;

          @media (min-width: 1280px) {
            font-size: 7rem;
          }
        }
        
        &.-artist {
          @include MuseoSans300;
          font-size: 24px;

          @media (min-width: 1280px) {
            font-size: 48px;
          }
        }
      }

      &_overlay {
        background: rgba(0, 0, 0, .80);
        background-size: cover;
        opacity: 0;
        height: 0;
        left: 50%;
        position: absolute;
        top: 50%;
        transition: all .25s ease-out;
        transform: translate(-50%, -50%);
        width: 100%;
        z-index: 2;
      }

      &_half {
        display: flex;
        height: 100%;
        flex-basis: 50%;
        width: 100%;

        @media (min-width: 1440px) {
          display: block;
          width: 50%;
        }

        &.-featured-three {
          background: url('../images/featured/evans-02.jpg') top center no-repeat;
          background-size: cover;
          position: relative;
        }

        &.-featured-three_overlay {
          background: url('../images/featured/evans-01.jpg') top center no-repeat;
          background-size: cover;
          opacity: 0;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          transition: all .45s ease-out;
          width: 100%;
          z-index: 1;

          &:hover {
            opacity: 1;
          }
        }
      }
      
      &_quarter {
        height: 50vh;
        width: 100%;

        &.-featured-one {
          background: url('../images/featured/evans-02.jpg') top center no-repeat;
          background-size: cover;
          position: relative;
          z-index: 1;

          &:hover {
            cursor: pointer;

            .zin-artist--featured_overlay {
              height: 100%;
              opacity: 1;
            }

            .zin-artist--featured_artist {
              left: 0;
              opacity: 1;
              
              @media (min-width: 1280px) {
                left: 50px;
              }
            }
          }
        }
        
        &.-featured-two {
          background: url('../images/featured/evans-01.jpg') top center no-repeat;
          background-size: cover;

          position: relative;
          z-index: 1;

          &:hover {
            cursor: pointer;

            .zin-artist--featured_overlay {
              height: 100%;
              opacity: 1;
            }

            .zin-artist--featured_artist {
              left: 50px;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}