.zin {
  &-banner {
    box-sizing: border-box;
    height: 100vh;
    position: relative;
    width: 100vw;

    &--brand {
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 25;
    }

    &--animated {
      overflow: hidden;
      position: absolute;
      height: 100vh;
      z-index: 10;
      width: 100vw;

      &_main {
        background-image: url('../images/banner-image-1.jpg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      &_image {
        left: -999999px;
        position: absolute;
        top: 0;
      }
    }

    &--overlay {
      background: var(--primary);
      top: 0;
      height: 100vh;
      left: 0;
      position: absolute;
      width: 100vw;
      z-index: 15;

      &[data-active] {
        bottom: 0;
        opacity: 0;
        top: auto;
        height: 0;
      }
    }

    &--header {
      height: 100vh;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 21;

      &_rapper {
        left: 50%;
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 85%;

        @media (min-width: 1024px) {
          width: 75%;
        }
        
        @media (min-width: 1440px) {
          width: 77%;
        }
      }

      &_mission {
        @include FuturaPTHeavy;
        color: var(--secondary);
        font-size: 28px;
        line-height: 1;
        margin: 0;
        padding: 0;
        text-transform: uppercase;

        @media (min-width: 400px) {
          font-size: 36px;
        }
        
        @media (min-width: 768px) {
          font-size: 54px;
        }

        @media (min-width: 1024px) {
          font-size: 50px;
        }

        @media (min-width: 1280px) {
          font-size: 60px;
        }
        
        @media (min-width: 1440px) {
          font-size: 90px;
        }
        
        @media (min-width: 1920px) {
          font-size: 100px;
        }
      }
      
      &_statement {
        @include MuseoSans100;
        color: var(--secondary);
        font-size: 12px;
        line-height: 1.5;
        margin-inline-start: 2em;
        margin-inline-end: 2em;

        @media (min-width: 400px) {
          font-size: 14px;
        }

        @media (min-width: 768px) {
          font-size: 24px;
        }

        @media (min-width: 1024px) {
          font-size: 20px;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 3em;
          margin-inline-end: 3em;
        }
        
        @media (min-width: 1280px) {
          font-size: 24px;
        }
        
        @media (min-width: 1440px) {
          font-size: 24px;
          line-height: 1.25;
          margin-inline-start: 3.5em;
          margin-inline-end: 3.5em;
        }
        
        @media (min-width: 1920px) {
          font-size: 42px;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 4em;
          margin-inline-end: 4em;
        }
      }
    }
  }
}