.zin {
  &-navigation {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 110;

    &--logo {
      left: 12px;
      position: absolute;
      top: 15px;
      width: 40%;
      z-index: 1110;

      @media (min-width: 768px) {
        left: 15px;
        width: 35%;
      }
      
      @media (min-width: 1024px) {
        width: 20%;
      }
      
      @media (min-width: 1280px) {
        width: 20%;
      }

      @media (min-width: 1440px) {
        left: 20px;
        top: 20px;
        width: 15%;
      }
      
      @media (min-width: 1920px) {
        left: 30px;
        top: 30px;
        width: 10%;
      }

      &_img {
        fill: var(--secondary);
        height: auto;
        width: 100%;
      }

      &_path {
        fill: var(--secondary);
      }
    }

    &--menu {
      box-sizing: border-box;
      display: none;
      height: 50vh;
      left: 50%;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);

      &_item {
        color: var(--secondary);
        display: block;
        font-size: 24px;
        padding: 5px 0;
        text-transform: uppercase;
      }

      &[data-active] {
        display: block;
      }
    }

    &--trigger {
      border: 1px solid var(--secondary);
      height: 25px;  
      line-height: 0;
      position: absolute;
      transition: all .35s ease-out;
      right: 15px;
      top: 20px;
      width: 25px;
      z-index: 99;

      &[data-active] {
        background: var(--primary);
        border: 2px solid var(--secondary);
        height: 93vh;
        width: 90vw;

        .zin-navigation--trigger_hit {
          height: 3px;
          right: 5px;
          width: 20px;

          &:first-child {
            top: 15px;
            transform: rotate(45deg);
          }
          
          &:last-child {
            top: 15px;
            transform: rotate(-45deg);
          }
        }
      }

      &:hover {
        cursor: pointer;
      }

      &_hit {
        background: var(--secondary);
        height: 1px;
        right: 5px;
        position: absolute;
        transition: all .35s ease-out .10s;
        width: 12px;
        z-index: 100;

        &:first-child {
          top: 8px;
        }
        
        &:last-child {
          top: 14px;
        }
      }
    }
  }
}