.zin {
  &-podcast {
    background: var(--tertiary);
    box-sizing: border-box;
    // height: 50vh;
    padding: 0;
    position: relative;

    &--featured {
      // background: var(--primary);
      color: var(--secondary);
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 30px 20px;
      width: 100vw;

      @media (min-width: 1440px) {
        flex-direction: row;
        margin: auto;
        padding: 50px 50px;
        width: 70vw;
      }

      &_content,
      &_photo {
        flex-basis: 50%;
      }

      &_content {
        box-sizing: border-box;
        padding: 0;

        @media (min-width: 1440px) {
          padding: 50px;
        }

        &.-header {
          @include MuseoSans700;
          font-size: 45px;
          margin: 0 0 10px 0;
          padding: 0;

          @media (min-width: 1440px) {
            font-size: 60px;
            margin: 0;
          }
        }
        
        &.-body {
          line-height: 1.75;
          font-size: 14px;
          margin: 0;
          padding: 0;

          @media (min-width: 1440px) {
            font-size: 16px;
            padding: 15px 250px 15px 0;
          }
        }
        
        &.-action {
          @include MuseoSans700;
          background: transparent;
          box-shadow: inset 0 0 0 2px var(--secondary);
          box-sizing: border-box;
          color: var(--secondary);
          display: inline-block;
          font-size: 14px;
          letter-spacing: 1px;
          margin-top: 20px;
          padding: 20px 45px;
          text-decoration: none;
          text-transform: uppercase;
          transition: all .35s ease-out;

          &:hover {
            background: var(--secondary);
            cursor: pointer;
            color: var(--primary);
          }
        }

        &.-episodes {
          display: flex;
          margin: 10px 0;
          padding: 0;

          @media (min-width: 1440px) {
            padding: 0;
          }
        }

        &.-featured{
          @include MuseoSans300;
          background: transparent;
          box-sizing: border-box;
          box-shadow: inset 0 0 0 1px var(--accent);
          border: transparent;
          color: var(--secondary);
          font-size: 10px;
          letter-spacing: 1px;
          margin: 15px 3px;
          padding: 15px 30px;
          text-transform: uppercase;
          transition: all .25s ease-out;

          &:first-child {
            margin-left: 0;
          }
          
          &:last-child {
            margin-right: 0;
          }

          @media (min-width: 1440px) {
            font-size: 12px;
            margin: 15px 0;
            padding: 20px 50px;
          }

          &:hover {
            @include MuseoSans700;
            background: var(--accent);
            cursor: pointer;
          }

          &[data-active] {
            @include MuseoSans700;
            background: var(--accent);
            color: var(--secondary);

            &:hover {
              @include MuseoSans700;
              color: var(--tertiary);
              cursor: pointer;
            }
          }
        }
      }

      &_photo {
        position: relative;

        &.-img {
          height: auto;
          width: 100%;
        }
        
        &.-arrow {
          width: 0; 
          height: 0; 
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-left: 15px solid white;
          left: 55%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          z-index: 12;

          @media (min-width: 1440px) {
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 25px solid white;
          }
        }

        &.-play {
          background: var(--tertiary);
          border-radius: 100%;
          box-sizing: border-box;
          height: 70px;
          left: 50%;
          opacity: .75;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 70px;
          z-index: 10;

          @media (min-width: 1440px) {
            height: 100px;
            width: 100px;
          }
        }
      }
    }
  }
}